Django
django-allauth
django-allauth-2fa
django-waffle
django-environ
djangorestframework
djangorestframework-api-key
drf-spectacular
stripe
dj-stripe
django-anymail[mailgun]  # email services
celery-progress
celery
celery[redis]
openai
whitenoise[brotli]
